<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/SCENTINEL-updated.png" alt="Icon" width="80" height="80" class="d-inline-block align-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h2 class="mb-4 text-center">Unraveling TypeScript Code Scents</h2>
  <p class="text-center">Upload a .ts file</p>
  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <form>
        <div class="mb-3">
          <label for="fileInput" class="form-label"></label>
          <div class="input-group">
            <input type="file" class="form-control" id="fileInput"  accept=".ts" (change)="onFileSelected($event)" />
            <button type="button" class="btn btn-danger" (click)="analyzeCode()">Analyze Code</button>
          </div>
        </div>

        <div *ngIf="!codeSmellDetected && codeAnalysed && selectedFile" class="mt-4 alert alert-success">
          <p>No code smells detected! Your code is clean.</p>
        </div>  

        <div *ngIf="codeSmellDetected" class="mt-4 alert alert-danger">
          <p>Code smells detected!</p>
        </div>

        <div *ngIf="longFunctionReports.length > 0">
          <p>There is at least one function or method with more than 15 lines of code.</p>
          <table class="table table-bordered mt-3">
            <thead>
              <tr>
                <th scope="col">Function Name</th>
                <th scope="col">Lines of Code</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let report of longFunctionReports">
                <td>{{ report.functionName }}</td>
                <td>{{ report.linesOfCode }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="longParameterReports.length > 0">
          <p>There is at least one function or method with more than 3 parameters.</p>
          <table class="table table-bordered mt-3">
            <thead>
              <tr>
                <th scope="col">Function Name</th>
                <th scope="col">Number of Parameters</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let report of longParameterReports">
                <td>{{ report.functionName }}</td>
                <td>{{ report.parameters.length }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div id="scrollableWindow">
          <pre style="margin: 0; padding: 0;">
            <code style="margin: 0; padding: 0;">
              <span class="no-extra-space" *ngFor="let line of highlightCode()" [ngClass]="isLineObject(line) ? 'highlighted-line' : ''">
                <ng-container *ngIf="isLineObject(line); else stringContent">
                  <span class="no-extra-space">{{ line.line }}</span>
                </ng-container>
                <ng-template #stringContent><span class="no-extra-space">{{ line }}</span></ng-template>
              </span>
            </code>
          </pre>
        </div>        
        
      </form>
    </div>
  </div>
</div>

