@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: 	#7FFFD4; /* Emerald green font color */
}

.navbar {
    margin-bottom: 20px; /* Add space between navbar and content */
    font-size: larger;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: 	#7FFFD4; /* Emerald green color for heading */
}

input,
button {
    margin: 5px;
}

button {
    cursor: pointer;
}

.alert-danger {
    margin-top: 50px;
    max-width: 400px; /* Set the maximum width for the alert box */
    margin-left: auto; /* Center the alert box horizontally */
    margin-right: auto;
    background-color: #dc3545; /* Adjust the background color of the alert box */
    border-color: #dc3545; /* Adjust the border color of the alert box */
    color: #fff; /* Adjust the font color of the alert box */
}
