@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #343a40; /* Dark background color for the whole page */
    color: 	#00e1d0; /* Emerald green font color */
}

.navbar {
  margin-bottom: 20px; /* Add space between navbar and content */
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: 	#00e1d0; /* Emerald green color for heading */
}

input,
button {
    margin: 5px;
}

button {
    cursor: pointer;
}

.alert-danger {
    margin-top: 20px;
}
